<head>
	<title>{{ site.title }}</title>
	{% seo %}
	{% feed_meta %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-svg.js' async>
		MathJax.Hub.Config({
			tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ],
			displayMath: [ ['$$','$$'], ['\[','\]'] ],
			processEscapes: true
			}
		});
	</script>
	<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script> -->
	<meta name=viewport content="width=device-width,initial-scale=1">
	<script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
	{% if page.jsarr %}
		<script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>
	{% endif %}
</head>
